<div class="row"
     data-bs-toggle="collapse"
     href="#@ItemModel.Id"
     role="button"
     aria-expanded="false"
     aria-controls="@ItemModel.Id">
    <div class="col col-2">
        <i class="bi bi-8-circle"></i>
    </div>
    <div class="col col-10">
        <label>@ItemModel.Value</label>
    </div>
</div>
<div class="collapse" id="@ItemModel.Id">
    @foreach (var item in ItemModel.Items)
    {
        <div class="row">
            <SideMenuLink To="@item.To" Value="@item.Value" />
        </div>
    }
</div>
