<EditForm Model="UserDataValidationService.ValidationModel" OnValidSubmit="@SubmitUserData" class="form-group">
    <DataAnnotationsValidator />
    <div class="row form-row">
        <div class="col col-8 p-2">
            <label class="caption-top h3">Profil</label>
        </div>
    </div>

    <div class="row form-row mt-2">
        <div class="col col-6">
            <label for="profile-form-firstname"
                   class="px-2">Vorname</label>
            <input type="text"
                   class="form-control"
                   id="profile-form-firstname"
                   placeholder="Vorname"
                   @bind-value="UserDataValidationService.ValidationModel.FirstName" />
        </div>
        <div class="col col-6">
            <label for="profile-form-lastname"
                   class="px-2">Name</label>
            <input type="text"
                   class="form-control"
                   id="profile-form-lastname"
                   placeholder="Name"
                   @bind-value="UserDataValidationService.ValidationModel.LastName" />
        </div>
    </div>

    <div class="row form-row mt-2">
        <div class="col col-12">
            <label for="profile-form-email"
                   class="px-2">Emailadresse</label>
            <input type="email"
                   class="form-control"
                   id="profile-form-email"
                   placeholder="Emailadresse"
                   disabled
                   @bind-value="UserDataValidationService.ValidationModel.Email" />
        </div>
    </div>

    <dic class="row form-row mt-3">
        <div class="col col-12 d-flex justify-content-end pe-4">
            <button type="button"
                    class="btn btn-danger mx-1 px-2"
                    disabled="@_userDataButtonsDisabled"
                    @onclick="@ResetUserData">
                Abbrechen
            </button>
            <button type="submit"
                    disabled="@_userDataButtonsDisabled"
                    class="btn btn-primary mx-1 px-2">
                Speichern
            </button>
        </div>
    </dic>
    <ValidationSummary />
</EditForm>

<hr class="mt-5" />

<EditForm Model="PasswordValidationService.ValidationModel" OnValidSubmit="@SubmitPasswordData">
    <DataAnnotationsValidator />
    <div class="row form-row">
        <div class="col col-8 p-2">
            <label class="caption-top h3">Passwort</label>
        </div>
    </div>

    <div class="row form-row mt-2">
        <div class="col col-6">
            <label for="profile-form-old-password"
                   class="px-2">Passwort</label>
            <input type="password"
                   class="form-control"
                   id="profile-form-old-password"
                   placeholder="Password"
                   @bind-value="PasswordValidationService.ValidationModel.CurrentPassword" />
        </div>
    </div>

    <div class="row form-row mt-2">
        <div class="col col-6">
            <label for="profile-form-password"
                   class="px-2">Passwort</label>
            <input type="password"
                   class="form-control"
                   id="profile-form-password"
                   placeholder="Password"
                   @bind-value="PasswordValidationService.ValidationModel.NewPassword" />
        </div>
        <div class="col col-6">
            <label for="profile-form-password-confirm"
                   class="px-2">Passwort wiederholen</label>
            <input type="password"
                   class="form-control"
                   id="profile-form-password-confirm"
                   placeholder="Password wiederholen"
                   @bind-value="PasswordValidationService.ValidationModel.ConfirmedPassword" />
        </div>
    </div>

    <dic class="row form-row mt-3">
        <div class="col col-12 d-flex justify-content-end pe-4">
            <button type="button"
                    class="btn btn-danger mx-1 px-2"
                    disabled="@_passwordButtonsDisabled"
                    @onclick="@ResetPasswordData">
                Abbrechen
            </button>
            <button type="submit"
                    disabled="@_passwordButtonsDisabled"
                    class="btn btn-primary mx-1 px-2">
                Speichern
            </button>
        </div>
    </dic>

    <ValidationSummary />
</EditForm>
